// start .sBlog
.sBlog {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	.page-head {
		margin-bottom: 0;
	}
	.row {
		margin-bottom: $grid-gutter-width;
		--bs-gutter-y: #{$grid-gutter-width};	
	}
	.blog-item {
		height: 400px;
		@include mt;
		// @media (max-width: 576px) {
		// 	width: 50%;
		// }
		// @media (max-width: 440px) {
		// 	width: 100%;
		// }
	}

	button {
		padding: $grid-gutter-width;
		width: 100%;
		border: 1px solid #ddd;
    font-weight: bold;
    background: #fff;
		transition: background-color .3s ease-in-out;
		&:hover {
			background-color: #e6e6e6;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBlog