.footer {
	padding: $grid-gutter-width;
	margin-top: auto;
	background-color: #222222;
	color: $white;
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
	@include media-breakpoint-down(lg) {
		padding-bottom: 83px;
	}
	
	&__top {		
		--bs-gutter-x: 20px;
	}
	&__title {
		// margin-right: rem(20);
		margin-bottom: $grid-gutter-width;
		padding-bottom: $grid-gutter-width;
		font-weight: 700;
		border-bottom: 1px solid #ddd;
		@include media-breakpoint-down(sm) {
			margin-right:0;
		}
	}
	ul {
		list-style-type: none;
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(40);
		}
	}
	li {
		margin-bottom: $grid-gutter-width;
	}
	a {
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: .3s ease-in-out;
		&:hover {
			color: $yellow;
			text-decoration-color: $yellow;
		}
	}
	p {
		margin-bottom: 0;
	}
	address {
		max-width: 340px;
		margin-bottom: $grid-gutter-width;
		@include media-breakpoint-down(sm) {
			max-width: none;
		}
	}
	&__contacts {
		padding-bottom: rem(20);
		border-bottom: 1px solid #ddd;
	}
	&__bottom {
		padding: $grid-gutter-width 0;
		align-self: center;
		.footer__title {
			border: none;
		}
	}
	p {
		max-width: 1160px;
	}
	.soc {
		padding-top: $grid-gutter-width;
	}
	.icon {
		max-width: 30px;
	}
	.icon-ok, .icon-whatsapp {
		font-size: rem(24);
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
