mixin sForm()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		h5 Остались вопросы?
		+form-wrap
			.row
				.col-lg-6
					+input(`ФИО:`)
					+input(`Телефон:`)
					+input(`E-mail:`)
				.col-lg-6
					.form-wrap__input-wrap.form-group.form-textarea
						textarea.form-wrap__input.form-control(name='textarea' placeholder='Ваш вопрос:')
			button.sForm__btn.btn.btn-main Спросить
	// end sForm