mixin sForm()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		h5 Остались вопросы?
		+form-wrap
			.row
				.col-lg-6
					+input(`ФИО:`)
					+input(`Телефон:`)
					+input(`E-mail:`)
				.col-lg-6
					+input(`Ваш вопрос:`,`textarea`)
			button.sForm__btn.btn.btn-main Спросить
	// end sForm