// start .sBasket
.sBasket {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	table {
		font-size: 12px;
	}
	th {
		text-align: center;
	}
	thead {
		@include media-breakpoint-down(md) {
			display: block;
		}
		tr {
			@include media-breakpoint-down(md) {
				display: flex;
			}
		}
		th {
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
	}
	.header-top {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
		
	img {
		max-height: 150px;
		object-fit: contain;
	}
	tbody {
		background-color:$white;
	}

	tbody tr {
		@include media-breakpoint-down(md) {
			border-bottom: 1px solid #dddddd;
			display: block;
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}
	
	td {
		@include media-breakpoint-down(md) {
			display: block;
			width: 100%;
		}
		&:before {
			@include media-breakpoint-down(md){
				content: attr(data-label);
				float: left;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}


	.icon-close {
		font-size: rem(20);
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}
	&__btn {
		color: $white;
		padding: rem(10) rem(20);
		font-size: 12px;
		font-weight: 700;
		@include mt;
		&--dark {
			background-color: $body-color;
			text-decoration: underline;
			text-decoration-color: transparent;
			&:hover {
				background: $red;
				color: $white;
				text-decoration-color: $white;
			}
		}
		&--green {
			background-color: $green;
			&:hover {
				color: $white;
				background: #408100;
			}
		}
	}

	// td {
	// 	@include media-breakpoint-down(md) {
	// 		width: auto;
	// 	}
	// }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBasket

.basket-item {
	vertical-align: middle;
	&__img-wrap {
		padding: $grid-gutter-width;
		width: 15%;
		text-align: center;
	}
	&__title {
		width: 25%;
	}
	&__name {
		color: $body-color;
		text-decoration: underline;
		text-decoration-color: transparent;
		@include mt;
		&:hover {
			text-decoration-color: initial;
		}
	}
	&__count, &__number,&__weight,&__price,&__delete {
		width: 12%;
		text-align: center;
	}
	&__remove-btn {
		background-color: transparent;
		border: none;
		transition: .5s;
		&:hover {
			transform: rotate(180deg);
		}
	}
}