// start .sBasket
.sBasket {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	table {
		font-size: 12px;
	}
	th {
		text-align: center;
	}
	tfoot {
		@include media-breakpoint-down(md) {
			display: block;
		}
		// @include media-breakpoint-down(sm) {
		// 	display: flex;
		// }
		tr {
			@include media-breakpoint-down(md) {
				display: flex;
				justify-content: space-between;
				background-color: #222;
			}
		}
		th {
			&:last-child {
				@include media-breakpoint-down(md) {
					display: none;
				}				
			}
			// @include media-breakpoint-down(md) {
			// 	width: 25%;
			// }
		}
	}
	.header-top {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
		
	img {
		max-height: 150px;
		object-fit: contain;
		max-width: 100%;
	}
	tbody {
		background-color:$white;
	}

	tbody tr {
		@include media-breakpoint-down(md) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			border-bottom: 1px solid #dddddd;
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}
	
	// td {
	// 	@include media-breakpoint-down(md) {
	// 		display: block;
	// 		width: 100%;
	// 	}
	// 	&:before {
	// 		@include media-breakpoint-down(md){
	// 			content: attr(data-label);
	// 			float: left;
	// 			text-transform: uppercase;
	// 			font-weight: bold;
	// 		}
	// 	}
	// }


	.icon-close {
		font-size: rem(20);
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}
	&__btn {
		color: $white;
		padding: rem(10) rem(20);
		font-size: 12px;
		font-weight: 700;
		@include mt;
		&--dark {
			background-color: $body-color;
			text-decoration: underline;
			text-decoration-color: transparent;
			&:hover {
				background: $red;
				color: $white;
				text-decoration-color: $white;
			}
		}
		&--green {
			background-color: $green;
			&:hover {
				color: $white;
				background: #408100;
			}
		}
	}

	// td {
	// 	@include media-breakpoint-down(md) {
	// 		width: auto;
	// 	}
	// }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBasket

.basket-item {
	position: relative;
	vertical-align: middle;
	@include media-breakpoint-down(md) {
		padding-bottom: rem(20);
	}
	&__img-wrap {
		padding: $grid-gutter-width;
		width: 15%;
		text-align: center;
		@include media-breakpoint-down(md) {
			width: 40%;
			order: -3
		}
	}
	&__title {
		width: 25%;
		@include media-breakpoint-down(md) {
			width: 40%;
			order: -2
		}
	}
	&__name {
		color: $body-color;
		text-decoration: underline;
		text-decoration-color: transparent;
		@include mt;
		&:hover {
			text-decoration-color: initial;
		}
	}
	&__count, &__number,&__weight,&__price,&__delete {
		width: 12%;
		text-align: center;
		// @include media-breakpoint-down(md) {
		// 	display: inline-block;
		// 	width: 50%;
		// }
	}
	&__count, &__number,&__weight,&__price {
		@include media-breakpoint-down(md) {
			width: 25%;
		}
	}
	&__count, &__weight,&__price {
		@include media-breakpoint-down(sm) {
			width:33%;
		}
	}
	&__number {
		@include media-breakpoint-down(sm) {
			width: fit-content;
			font-weight: bold;
			// &::before {
			// 	content: attr(data-label);
			// 	margin-right: 10px;
			// 	float: left;
			// 	text-transform: uppercase;
			// }
		}
	}
	&__delete {
		@include media-breakpoint-down(md) {
			width: 20%;
			order: -1;
		}
	}

	&__remove-btn {
		background-color: transparent;
		border: none;
		transition: .5s;
		&:hover {
			transform: rotate(180deg);
		}
		@include media-breakpoint-down(sm) {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
}