mixin sCatalogHead(data)
	// start sCatalogHead
	+b.sCatalogHead#sCatalogHead&attributes(attributes)
		+e.row.row
			.col-lg-auto
				button.btn.filter-btn
					+icon('settings')
					| Подбор по параметрам
			.col
				+b.select-group
					+e.wrap
						+select('Сортировать:', 'Наименованию', 'Популярности', 'Отзывам', 'Рейтингу', 'Цена по возрастанию', 'Цена по убыванию')
					+e.wrap
						+select('Сортировать:', 'Наименованию', 'Популярности', 'Отзывам', 'Рейтингу', 'Цена по возрастанию', 'Цена по убыванию')
					+e.wrap
						+select('Сортировать:', 'Наименованию', 'Популярности', 'Отзывам', 'Рейтингу', 'Цена по возрастанию', 'Цена по убыванию')
	// end sCatalogHead