// start .sCatalogHead
.sCatalogHead {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	.filter-btn {
		padding: rem(10);
		border: 1px solid $gray;
		height: 100%;
		min-width: 240px;
		background-color: $white;
		@include media-breakpoint-up(lg) {
			pointer-events: none;
		}
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
		.icon {
			font-size: rem(24);
			margin-right: rem(10);
		}
	}
	&__row {
		margin-bottom: rem(15);
		--bs-gutter-y: #{rem(10)};
	}
	.select-group {
		padding: rem(10);
		background-color: $white;
		border: 1px solid $gray;
		display: flex;
		@include media-breakpoint-up(lg) {
			justify-content: space-between;
		}
		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
			// justify-content: center;
		}
		&__input {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
		&__wrap {
			position: relative;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			&::after {
				content: '';
				position: absolute;
				display: block;
				clip-path: polygon(50% 100%, 0 50%, 100% 50%);
				background-color: $body-color;
				width: rem(11);
				height: rem(11);
				right: 0;
				top: 50%;
				transform: translateY(-63%);
			}
			label {
				display: flex;
				align-items: center;
				margin-right: rem(10);
				margin-left: rem(10);
				span {
					font-weight: 700;
					color: $blue;
				}
			}
		}
		select {
			option {
				color: $body-color;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalogHead