// start .sMainCategories
.sMainCategories {
	--sPT: 0;
	--sPB: $grid-gutter-width;
	// --sTPB: ;
	&__list {
		display: flex;
		list-style-type: none;
	}
	
	.sliderAutoWidth {
		margin: -10px;
    padding: 20px;
		margin-left: -20px;
		@include media-breakpoint-down(xxl) {
			overflow: visible;
		}
	}
	.swiper-slide {
		height: 170px;
		max-width: 132px;
		margin-right: $grid-gutter-width;
	}
	
	.main-cat-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-color: $white;
		padding: 10px;
		border: 1px solid $gray;
		overflow: hidden;
		transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
		&:not(:last-child) {
			margin-right: 10px;
		}	
		&__text {
			display: flex;
			// max-width: 132px;
			height: 50px;
			margin-top: rem(10);
			align-items:center;
			justify-content: center;
			// margin-top: auto;
			text-align: center;
			font-size: 13.5px;
			font-weight: 700;
			color: $blue;
			transition: color .3s ease-in-out, text-decoration .3s ease-in-out;
		}
		&:hover {
			transform: scale(1.1);
			box-shadow: 0 0 10px rgb(68 68 68 / 50%);
			.main-cat-item__text {
				color: $red;
				text-decoration: underline;
			}
		}
		&__img-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 90px;
   		 max-width: 90px;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			height: auto;
			width: auto !important;
			vertical-align: top;
		}
	// 	p {			
	// 		margin: 0;
	// 		padding: 0;
	// 	}
	// }
	}
	

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sMainCategories