mixin allCategoriesItem(name)
	+b.categories-item
		+e.title(href="#")!= name

mixin sAllCategories(data)
	// start sAllCategories
	+b.SECTION.sAllCategories.section#sAllCategories&attributes(attributes)
		.container.sliderAutoWidthWrap
			.row
				.col-10
					+b.sliderAutoWidth--js.swiper
						.swiper-wrapper
							.swiper-slide
								+allCategoriesItem('Снегоуборочные лопаты и движки для снега')
							.swiper-slide
								+allCategoriesItem('Сварочное оборудование')
							.swiper-slide
								+allCategoriesItem('Аппараты для контактной сварки')
							.swiper-slide
								+allCategoriesItem('Аппараты для плазменной резки')
							.swiper-slide
								+allCategoriesItem('Аппараты для пластика и синтетических материалов')
							.swiper-slide
								+allCategoriesItem('Аппараты для пластиковых труб')
							.swiper-slide
								+allCategoriesItem('Маски и очки сварщика')
							.swiper-slide
								+allCategoriesItem('Сварочные аппараты')
				+e.col--js.col-12
					+e.fullList
						+e.row-full-list.row
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Снегоуборочные лопаты и движки для снега')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Сварочное оборудование')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Снегоуборочные лопаты и движки для снега')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Аппараты для плазменной резки')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Аппараты для контактной сварки')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Сварочное оборудование')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Снегоуборочные лопаты и движки для снега')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Аппараты для плазменной резки')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Аппараты для контактной сварки')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Сварочное оборудование')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Аппараты для контактной сварки')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Снегоуборочные лопаты и движки для снега')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Аппараты для плазменной резки')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Сварочное оборудование')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Аппараты для контактной сварки')
							.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
								+allCategoriesItem('Аппараты для плазменной резки')
				.col
					+e.show.BUTTON 
						+e.P.text Все категории
	// end sAllCategories