// start .sAllCategories
.sAllCategories {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	.swiper-slide {
		width: auto;
	}

	&__toggle {
		width: 100%;
		height: 100%;
		border: none;
		color: $white;
		background-color: $body-color;
		font-weight: 700;
		transition: background-color .3 ease-in-out;
		&:hover {
				background-color: #A8C828;
			}
		&.active {
			// width: 100%;
			margin-top: rem(10);
			padding: 17px 0;
		}
	}

	&__text {
		margin-bottom: 0;
	}

	&__col {
		display: none;
		&.active {
			display: block;
		}
	}
	&__row-full-list {
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.sliderAutoWidth {
		&.active {
			display: none;
		}
	}
	&__fullList {
		.categories-item {
			width: 100%;
			margin-right: 0;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAllCategories
.categories-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: $grid-gutter-width;
	width: 250px;
	height: 60px;
	border: 1px solid #dddddd;
	background-color: $white;
	text-align: center;
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		padding: $grid-gutter-width;
		color: $body-color;
		font-weight: 700;
		transition: text-decoration .3s ease-in-out, background-color .3s ease-in-out;
		&:hover {
			color: $body-color;
			text-decoration: underline;
			background-color: #A8C828;
		}
	}
}