mixin allCategoriesItem(name)
	+b.categories-item
		+e.title(href="#")!= name

mixin sAllCategories(data)
	// start sAllCategories
	+b.sAllCategories.section#sAllCategories&attributes(attributes)
		+e.container.container.sliderAutoWidthWrap
			.row
				+e.col-slider.col-12.col-sm-10
					+b.sliderCategotiesLinks--js.swiper
						.swiper-wrapper
							.swiper-slide
								+allCategoriesItem('Снегоуборочные лопаты и движки для снега')
							.swiper-slide
								+allCategoriesItem('Сварочное оборудование')
							.swiper-slide
								+allCategoriesItem('Аппараты для контактной сварки')
							.swiper-slide
								+allCategoriesItem('Аппараты для плазменной резки')
							.swiper-slide
								+allCategoriesItem('Аппараты для пластика и синтетических материалов')
							.swiper-slide
								+allCategoriesItem('Аппараты для пластиковых труб')
							.swiper-slide
								+allCategoriesItem('Маски и очки сварщика')
							.swiper-slide
								+allCategoriesItem('Сварочные аппараты')
				+e.col-btn.col
					+e.toggle.BUTTON(data-open="Все категории" data-close="Скрыть")  Все категории
						//- +e.P.text Все категории
	// end sAllCategories


mixin sAllCategories2(data)
	// start sAllCategories
	+b.sAllCategories.section&attributes(attributes)
		+e.container.container.sliderAutoWidthWrap
			.row
				+e.col-slider.col-12.col-sm-10
					+b.sliderCategotiesLinks--js.swiper
						.swiper-wrapper
							.swiper-slide
								+allCategoriesItem('AL-KO')
							.swiper-slide
								+allCategoriesItem('Denzel')
							.swiper-slide
								+allCategoriesItem('STIGA')
							.swiper-slide
								+allCategoriesItem('Daewoo Power Products')
							.swiper-slide
								+allCategoriesItem('Greenworks')
							.swiper-slide
								+allCategoriesItem('OMI Robotics')
							.swiper-slide
								+allCategoriesItem('Сибртех')
							.swiper-slide
								+allCategoriesItem('Hecht')
							.swiper-slide
								+allCategoriesItem('RYOBI')
				+e.col-btn.col
					+e.toggle.BUTTON(data-open="Все категории" data-close="Скрыть")  Все категории
						//- +e.P.text Все категории
	// end sAllCategories