// start .sAllCategories

.sAllCategories {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		&__container {
			&.active {
				.swiper-wrapper{
					transform: none !important;
					flex-wrap: wrap;
					width: calc(100% + #{$grid-gutter-width}) ;
					margin-right: - $grid-gutter-width;;
				}
				.categories-item{
					width: 100%;
				}
				.swiper-slide {
					width: 100%;
					@include media-breakpoint-up(sm) {
						width: calc(50% - #{$grid-gutter-width});
					}
					@include media-breakpoint-up(md) {
						width: calc(25% - #{$grid-gutter-width});
					}
				}
				.sAllCategories__col-slider {
					width: 100%;
				}
				.sAllCategories__col-btn {
					width: 100%;
				}
			}
		}
	.swiper-slide {
		width: auto;
		margin-right: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;
	}
	.row{
		--bs-gutter-x:0;
	}
	&__toggle {
		margin-bottom: $grid-gutter-width;
		width: 100%;
		// height: calc100%;
		border: none;
		color: $white;
		background-color: $body-color;
		font-weight: 700;
		transition: background-color .3 ease-in-out;
		padding: rem(22) 0;
		box-shadow: -15px 0 $body-color;
		z-index: 1;
    position: relative;
		&:hover {
				background-color: #A8C828;
				box-shadow: -15px 0 #A8C828;
			}
		&.active {
			// width: 100%;
			// margin-top: rem(10);
			box-shadow: none;
		}
	}

	&__text {
		margin-bottom: 0;
	}

	&__col {
		display: none;
		&.active {
			display: block;
		}
	}
	&__row-full-list {
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.sliderAutoWidth {
		&.active {
			display: none;
		}
	}
	&__fullList {
		.categories-item {
			width: 100%;
			margin-right: 0;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAllCategories
.categories-item {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 250px;
	height: 60px;
	border: 1px solid #dddddd;
	background-color: $white;
	text-align: center;
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		padding: $grid-gutter-width;
		color: $body-color;
		font-weight: 700;
		transition: text-decoration .3s ease-in-out, background-color .3s ease-in-out;
		&:hover {
			color: $body-color;
			text-decoration: underline;
			background-color: #A8C828;
		}
	}
}