mixin sBlogSlider(data)
	// start sBlogSlider
	+b.SECTION.sBlogSlider.section#sBlogSlider&attributes(attributes)
		.container.sliderAutoWidthWrap
			+b.section-title
					.row
						.col
							h2 Другие статьи
						.col-auto
							+controlWrap()
			+b.sliderAutoWidth--js.swiper
				.swiper-wrapper
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
					.swiper-slide
						+blogItem('2','', 'Как выбрать тепловую пушку: классификация, характеристики, популярные модели','09.02.2022')
	// end sBlogSlider