// start .sBlogSlider
.sBlogSlider {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
.sliderAutoWidthWrap {
		padding: 0 !important;
	}
	.sliderAutoWidt {
		margin: -10px;
	}
	.swiper-wrapper {
		padding: 10px;
		margin-left: -10px;
		height: auto;
	}
	.swiper-slide {
		width: 246px;
		margin-right: $grid-gutter-width;
		@include media-breakpoint-up(xl) {
			width: 250px;
		}
	}
	.blog-item {
		height: rem(325);
		padding: $grid-gutter-width;
		@include mt;
		&:hover {
			box-shadow: 0 0 1rem rgb(68 68 68 / 20%);
		}
		&__date {
			display: none;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBlogSlider