// start .sOrderDone
.sOrderDone {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	&__container {
		background-color: $white;
		padding: rem(10);
	}
	&__main {
		margin-bottom: rem(40);
		font-weight: 700;
		font-size: rem(21);
	}

	a {
		color: $blue;
		text-decoration: underline;
		text-decoration-color: transparent;
		@include mt;
		&:hover {
			text-decoration-color: $blue;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOrderDone