// start .sAbout
.sAbout {
		// --sPT: ;
		--sPB: ;
		// --sTPB: ;
	h3 {
		font-size: 21px;
		font-weight: 700;
	}
	ul {
		padding: 0;
		margin-left: rem(40);
	}



	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout