// start .sAbout
.sAbout {
		// --sPT: ;
		--sPB: ;
		// --sTPB: ;
	h3 {
		font-size: 21px;
		font-weight: 700;
	}
	ul {
		padding: 0;
		margin-left: rem(40);
	}
	button {
		border: none;
		font-weight: 700;
		color: $green;
		background-color: transparent;
		margin-bottom: rem(20);
	}
	.hidden {
		display: none;
	}
	.hide-btn {
		color: $red;
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout