extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sMainCategories/_sMainCategories.pug
include ../blocks/sHit/_sHit.pug
include ../blocks/sCatalogHead/_sCatalogHead.pug
include ../blocks/sFilter/_sFilter.pug
include ../blocks/sCatalogBody/_sCatalogBody.pug
include ../blocks/sBlogPreview/_sBlogPreview.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sArticle/_sArticle.pug
include ../blocks/sBlogSlider/_sBlogSlider.pug
include ../blocks/sBlogNav/_sBlogNav.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Уход за триммером для травы: правила и рекомендации'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+topLine()
	+top-nav()
	+page-head(title, 'Главная', 'Cтатьи',title).--article
	.container
		.row
			.col-auto
				+sBlogNav()
			.col
				+sArticle()
		+sBlogSlider()
	+footer()