extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
//- include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sMainCategories/_sMainCategories.pug
//- include ../blocks/sHit/_sHit.pug
//- include ../blocks/sCatalogHead/_sCatalogHead.pug
//- include ../blocks/sFilter/_sFilter.pug
//- include ../blocks/sCatalogBody/_sCatalogBody.pug
 
include ../blocks/sAccount/_sAccount.pug
include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'contact-page'
	- let  bg= '02-catalog.png'

block title
	- let  title= 'Авторизация'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+topLine
	+top-nav()
	//- +sMainCategories
	+page-head(title, 'Главная', 'Авторизация')
	.container.page-container
		.row
			.col-xl-2.col-lg-3
				+sidebar(`1`,`Личные данные`,`Мои заказы`,`Выйти`)
			.col-xl-10.col-lg-9
				.mainside
					+sAccountLogin
	+footer
      



