extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sMainCategories/_sMainCategories.pug
include ../blocks/sHit/_sHit.pug
include ../blocks/sPopCategories/_sPopCategories.pug
include ../blocks/sAllCategories/_sAllCategories.pug
include ../blocks/sBlogPreview/_sBlogPreview.pug
include ../blocks/sBrands/_sBrands.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCommunications/_sCommunications.pug
include ../blocks/sCatalogNav/_sCatalogNav.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Техносадов'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+topLine
	+top-nav()
	+header()
	+sCatalogNav()
	+headerBlock
	+sMainCategories
	+sHit('Хит')
	+sHit('Советуем')
	+sPopCategories()
	+sAllCategories()
	+sHit('Новинки')
	+sHit('Акции')
	+sBlogPreview()
	+sBrands()
	+sAbout()
	+sCommunications()


	+footer()
      



