// start .sBlogNav
.sBlogNav {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	height: 100%;
	padding: $grid-gutter-width;
	background: #fff;
	border: 1px solid #ddd;
	// overflow-y: scroll;
	@include media-breakpoint-up(lg) {
		max-width: 330px;
	}
	&__title {
		border-bottom: 1px solid #ddd;
    padding-bottom: $grid-gutter-width;;
		margin-bottom: $grid-gutter-width;
    font-weight: bold;
	}
	nav {
		overflow-y: auto;
		max-height: 100vh;
	}
	ul {
		padding: 0;
		list-style-type: none;
		li {
			margin-bottom: $grid-gutter-width;
		}
		a {
			color: $blue;
			font-weight: 700;
		}
		ul {
			a {
				margin-left: $grid-gutter-width;
				font-weight: 500;
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBlogNav

.scrolled {
	color: #ff3300 !important;
}