// start .sBlogNav
.sticky-wrap {  
	&__title {
		position: relative;
		font-weight: bold;
		padding: 10px;
		cursor: pointer;
		.icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50);
			right: 10px;
			stroke: #444;
			color: transparent;
			font-size: 8px;
			transition-duration: .4s;
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
		@include media-breakpoint-up(lg) {
			border-bottom: 1px solid #ddd;
			padding-bottom: $grid-gutter-width;;
			margin-bottom: $grid-gutter-width;
			cursor: auto;
		}
	}
	nav {
		overflow-y: auto;
		max-height: 100vh;
	}
	ul { 
		@include media-breakpoint-down(lg) { 
			margin-top: 20px;
		}
		padding: 0;
		list-style-type: none;
		li {
			margin-bottom: $grid-gutter-width;
		}
		a {
			color: $blue;
			font-weight: 700;
			padding-top: 0;
			padding-bottom: 0;
		}
		ul {
			a {
				margin-left: $grid-gutter-width;
				font-weight: 500;
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBlogNav

.scrolled {
	color: #ff3300 !important;
}

.up {
	transform: rotate(180deg);
}