mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			.row
				.col-auto
					+e.logo
						a(href="/")
							img(src="img/svg/logo.svg", alt="")
				.col
					+e.search.FORM
						input(type="text" name="Имя" placeholder="Что будем искать?")
						button
							+icon('search')
				.topLine-menu.col-auto
					.row
						.col-auto.d-lg-none
						.col-auto
							+e.BUTTON.location
								+icon('geo')
								.topLine__location-text
									p <span>Москва</span>Выбрать другой город							
						.col-auto
							+e.to-call
								+icon('phone')
								.topLine__to-call-text
									p <span> +7 861 206 10 07</span> с 09:00 до 20:00							
								a(href='tel:+74951208090').stretched-link 
						.col-auto
							+icon('login')
							a(href="#").stretched-link Кабинет
						.col-auto.counting
							+icon('compare')
							a(href="#").stretched-link Сравнения
						.col-auto.counting
							+icon('bookmarks')
							a(href="#").stretched-link Закладки
						.col-auto.counting
							+icon('cart')
							a(href="#").stretched-link Корзина
	// end topLine