mixin sCatalogNav(data)
	// start sCatalogNav
	+b.sCatalogNav 
		ul.main-categories
			li.catalog-menu-back.catalog-menu-back--main.d-lg-none Назад
			- list = [`Садовая техника`,`Водоснабжение и полив`,`Расходные материалы и аксессуары`,`Силовое оборудование`,`Строительные инструменты`,`Снегоуборочная техника`,` Обогрев и вентиляция`,`Продукция STIHL и Viking`,`Сварочное оборудование`,`Садовый инвентарь и инструменты`,'Мототехника']
			
			each li in list

				li
					+e.link(href="#")= li
					+b.submenu()
						+e.title(href="#")= li
						ul
							li
								a(href="#") Триммеры
							li
								a(href="#") Газонокосилки
								ul
									li 
										a(href="#") Роботы газонокосилки
									li
										a(href="#") Механические газонокосилки
									li
										a(href="#") Газонокосилки аккумуляторные
									li
										a(href="#") Газонокосилки электрические
									li
										a(href="#") Газонокосилки бензиновые
							li
								a(href="#") Сенокосилки
							li
								a(href="#") Воздуходувки и садовые пылесосы
							li
								a(href="#") Опрыскиватели
							li
								a(href="#") Садовые ножницы и кусторезы
							li
								a(href="#") Садовые измельчители травы и веток
							li
								a(href="#") Мини-тракторы
							li
								a(href="#") Культиваторы и Мотоблоки
							li
								a(href="#") Вертикуттеры и аэраторы
							li
								a(href="#") Мойки высокого давления
	// end sCatalogNav