.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary); 
	// 
	background-color: $body-color;
	color: $white;
	z-index: 301;
	.container{
		position: relative;
	}

	.menu-item {
		font-weight: 700;
		
	}

	&__col-catalog {
		// display: flex;
		// align-items: center;
		max-width:rem(312);
	}
	
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {

	}
	p{
		@include ell();
	}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

.catalog-btn {
	display: flex;
	align-items: center;	
	padding: $grid-gutter-width;
	color: $white;
	background-color: #5e5e5e;
	transition: background-color .3s ease-in-out;
	border: none;
	height: 100%;
	width: 100%;
	font-weight: 700;
	&:hover {
		background-color: $red;
	}
	span {
    display: block;
    position: relative;
		width: 20px;
    height: 3px;
    border-radius: 1px;
    margin-right: $grid-gutter-width;
    background: $white;;
    transition: .3s;
		&::before {
			content: '';
			width: 20px;
			height: 3px;
			border-radius: 1px;
			position: absolute;
			background: $white;
			top: 7px;
			left: 0;
			transition: .3s;
		}
		&::after {
			content: '';
			width: 20px;
			height: 3px;
			border-radius: 1px;
			position: absolute;
			background: $white;
			bottom: 7px;
			left: 0;
			transition: .3s;
		}
	}
	&--active {
		background-color:$red;
		transition: .3s;
		span {
			background-color: transparent;
			@include mt;
			&::before {
				transform: rotate(45deg);
				transform-origin: right;
				transition: .3s;
			}
			&::after {
				transform: rotate(-45deg);
				transform-origin: right;
				transition: .3s;
			}
		}
	}
}
