.soc {
	@include roww(40px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: $body-color;
	// border: 1px solid;
	// border-radius: 23px;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
	input {
		color: $body-color;
		text-align: center;
		border: none;
		width: rem(40);
		height: rem(40);
		border: 1px solid $body-color;
		&::placeholder {
			color: $body-color;
		}
	}
	&__btn {
		@include mt;
		color: inherit;
		width: rem(40);
		height: rem(40);
		max-width: 40px;
		border: 1px solid #ddd;
		position: relative;
		background: none !important;
		// border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		// width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 6px;
			height: 1px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&:hover {
			border-color: $body-color;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.breadcrumb {
	// background-color: $white;
	// border: 1px solid $gray;
	padding: rem(10);
	flex-wrap: nowrap;
	&-slider--js {
		background-color: $white;
		border: 1px solid $gray;
		overflow: hidden;
		margin-bottom: rem(20);
		padding-right: rem(20);
	}
	&-item {
		width: max-content;
		a {
			color: $gray-800;
		}
		& + & {
			padding-left: rem(10);
		}
		& + &:before {
			padding-right: rem(10);
			font-weight: 700;
		}
	}
	
}

.page-head {
	padding-top: rem(10);
	padding-bottom: rem(20);
	h1 {
		color: $gray-800;
		border-left: 5px solid $red;
		padding-left: rem(10);
	}
	&--article {
		h1 {
			font-weight: 700;
		}
	}
}

.sidebar {
	border: 1px solid #dddddd;
	// padding: rem(14);
	height: 100%;
	background-color: #ffffff;
	&__mob-title {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		padding: rem(14);
		padding-right: rem(28);
		cursor: pointer;
		position: relative;
		.icon {
			font-size: 8px;
			position: absolute;
			right: rem(12);
			top: 50%;
			transform: translateY(-50%);
			transition-duration: 0.4s;
			color: transparent;
			stroke: $body-color;
		}
		&.active {
			.icon {
				transform: translateY(-50%) scaleY(-1);
			}
		}
	}
	ul {
		margin-bottom: 0;
		list-style-type: none;
		@include media-breakpoint-up(lg){
			display: block !important;
		}
		display: none;
	}
	li {
		// margin-bottom: 16px;
	}
	a {
		font-size: 14px;
		line-height: 120%;
		color: #009fe4;
		display: block;
		padding: rem(14);
		padding-top: rem(10);
		padding-bottom: rem(10);
		&.active {
			background-color: #dddddd;
			color: $body-color;
			pointer-events: none;
			font-weight: bold;
		}
	}
}
