mixin sService(data)
	// start sService
	+b.sService#sService&attributes(attributes)
		p <strong>Сервисный Центр Техносадов</strong>&nbsp;&mdash; это современный сервисный центр. В&nbsp;СЦ&nbsp;&laquo;Техносадов&raquo; можно оперативно добраться из&nbsp;любой точки города как на&nbsp;автомобиле, так и&nbsp;на&nbsp;общественном транспорте.<br /><br /><strong>Сервис предоставляет следующие услуги:</strong>
		ul
			li Диагностика техники
			li Плановое техническое обслуживание (ТО)
			li Гарантийный ремонт садовой техники
			li Ремонт любой сложности по истечении гарантийного срока
			li Установку аксессуаров и навесного оборудования
		p Сервисный центр &laquo;Техносадов&raquo; располагает современным оборудованием и&nbsp;инструментом для профессионального выполнения необходимых работ. Мы&nbsp;используем только оригинальные запасные части, расходные материалы и&nbsp;комплектующие. По&nbsp;желанию и&nbsp;под ответственность клиента, можем установить аналоги, приобретенные самостоятельно, в&nbsp;сторонней организации. Стоимость услуг рассчитывается с&nbsp;учетом сложности работ и&nbsp;цены на&nbsp;запасные части, необходимые для ремонта или обслуживания. Опытные специалисты проводят диагностику, после чего клиенту сообщается точная стоимость ремонта и&nbsp;ориентировочные сроки выполнения работ. При необходимости, клиент вправе отказаться от&nbsp;услуги и&nbsp;оплатить только диагностику.
		p <strong>Наш адрес: Дмитровское шоссе 62&nbsp;стр&nbsp;5</strong>
	// end sService

mixin sService2(data)
	// start sService
	+b.sService#sService&attributes(attributes)
		p Неработоспособность скарификатора может быть вызвана различными факторами. Поэтому мы&nbsp;проводим полную диагностику всех узлов скарификатора, составляем список предстоящих работ для устранения поломок, согласуем с&nbsp;заказчиком перечень работ, срок выполнения и&nbsp;стоимость. После проведения ремонта все демонтированные детали выдаются клиенту вместе с&nbsp;отремонтированной техникой.
		p <strong>Ориентировочная стоимость основных работ</strong>
		table
			tr
				th Виды работ
				th Стоимость, руб.
			tr
				td Диагностика
				td 1750
			tr
				td Замена свечи зажигания
				td 150
			tr
				td Замена воздушного фильтра
				td 150
			tr
				td Замена масла в двигателе
				td 500
			tr
				td Регулировка карбюратора
				td 250
			tr
				td Ремонт / очистка карбюратора в УЗВ
				td 2000
			tr
				td Ремонт стартера
				td 750
			tr
				td Регулировка зазора катушки зажигания
				td 500
			tr
				td Замена катушки зажигания
				td 500
			tr
				td Регулировка клапанов
				td 1750

mixin sService3(data)
	// start sService
	+b.sService#sService&attributes(attributes)
		p Неработоспособность бензопилы может быть вызвана различными факторами. Поэтому мы&nbsp;проводим полную диагностику всех узлов бензопилы, составляем список предстоящих работ для устранения поломок, согласуем с&nbsp;заказчиком перечень работ, срок выполнения и&nbsp;стоимость. После проведения ремонта все демонтированные детали выдаются клиенту вместе с&nbsp;отремонтированной техникой.
		p <strong>Ориентировочная стоимость основных работ</strong>
		table
			tr
				th Виды работ
				th Стоимость, руб.
			tr
				td Регулировка карбюратора (2 кат. сложности)
				td 400
			tr
				td Замена топливного фильтра (1 кат. сложности)
				td 200
			tr
				td Замена свечи зажигания
				td 150
			tr
				td Замена стартера (5 кат. сложности)
				td 870
			tr
				td Ремонт крепления натяжителя цепи
				td 550
			tr
				td Замена сцепления
				td 700
			tr
				td Замена топливного бака
				td 300
			tr
				td Ремонт механизма цепи
				td 500
			tr
				td Регулировка оборотов (2 кат.сложности)
				td 400
			tr
				td Заточка цепи (6)
				td 300
			tr
				td Регулировка насоса подачи масла
				td 650
			tr
				td Чистка выхлопной системы
				td 1000