mixin sProductItem(data)
	// start sProductItem
	+b.SECTION.sProductItem.section#sProductItem&attributes(attributes)
		.container
			.row
				.col-12.col-lg-6
					+e.slider-wrap
						+e.slider-thumbs--js.swiper
							.swiper-wrapper
								.swiper-slide
									+e.img-wrap
										+img('img/sProductItem-img-1.png')
								.swiper-slide
									+e.img-wrap
										+img('img/sProductItem-img-1.png')
								.swiper-slide
									+e.img-wrap
										+img('img/sProductItem-img-1.png')
						+e.slider--js.swiper
							.swiper-wrapper
								.swiper-slide
									+img('img/sProductItem-img-1.png')
								.swiper-slide
									+img('img/sProductItem-img-1.png')
								.swiper-slide
									+img('img/sProductItem-img-1.png')
				.col-6.col-lg-3
					+e.info-wrap
						table
							tbody
								tr
									td
										p Рейтинг:
									td
										+ratingInfo()
								tr
									td
										p Производитель:
									td
										a(href="#") Husqvarna
								tr
									td
										p Артикул:
									td
										p 5976688-01
								tr
									td
										p Цена:
									td
										p.price 199 руб.
								tr
									td
										+addblock()
									td
					+e.info-wrap
				.col-6.col-lg-3
	// end sProductItem